<div class="modal fade exampleModal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
                <button type="button" #closeBtn class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form >
                    <div class="form-group">
                        <label for="exampleInputTitle1">Title</label>
                        <input name="title" type="text" [(ngModel)]="post.title" class="form-control" id="exampleInputTitle1" placeholder="Enter title" required>
                    </div>
                    
                    <br/>
                    <br/>
                    <div id="DescriptionBlock" class="form-group" [style.display]="ngStyleDescriptionBlock">
                        <label for="exampleInputDescription1">Description</label>
                        <textarea name="description" [(ngModel)]="this.postDescription" class="form-control" id="exampleInputDescription1" placeholder="Description">
                        </textarea>
                    </div>

                    <div id="ImageBlock" class="form-group" [style.display]="ngStyleImageBlock">
                        <label for="examplelastName">Photo</label>
                        <img [src]="this.base64File" /> &nbsp;
                        <mat-form-field floatPlaceholder="never">
                            <input [hidden]="true" (change)="onFileSelect($event)" type="file" accept="all/*" #fileSelect>
                            <input readonly matInput [(ngModel)]="filename" [ngModelOptions]="{standalone: true}" placeholder="Select new file..."/>
                            <button *ngIf="this.base64File" (click)="this.base64File = null; this.filename = null" matSuffix matTooltip="Remove selected file"
                                    [matTooltipPosition]="'above'" type="button" color="warn" mat-icon-button>
                                    <mat-icon>close</mat-icon>
                                  </button>
                            <button matSuffix mat-icon-button (click)="fileSelect.click();"  matTooltip="Select a file" [matTooltipPosition]="'above'">
                              <mat-icon>file_upload</mat-icon>
                            </button> 
                        </mat-form-field>
                    </div>
                    <button name="imageButton" type="button" class="btn btn-primary" (click)="show()">
                        Add one more block 
                    </button>&nbsp; &nbsp; &nbsp;
                    <br /> <br />

                    <div class="textBlock" *ngFor="let postPartText of postText, index as i">
                        <textarea (change)="changeText($event.target.value, i)" id="description" class="form-control" name="description" [value]="postPartText">{{postPartText}}</textarea> &nbsp;
                      <br />
                    </div>
                    <div class="imageBlock" *ngFor="let postPartImage of postImage, index as i">
                        <img [src]="postPartImage" /> &nbsp;
                      <br />
                    </div>

                    <button (click)="addPost()" type="button" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>