<app-header></app-header>
<mat-tab-group>
<mat-tab label="Personal Information"> 
    <br/>
    <div>
    <form>
        <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input class="form-control" id="exampleInputName" value ={{user.firstName}}>
        </div>
        <div class="form-group">
            <label for="examplelastName">Surname</label>
            <input class="form-control" id="examplelastName" value ={{user.lastName}}>
        </div>
        <br/>
        <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <input class="form-control" id="exampleInputPassword" value ={{user.password}}>
        </div>
        <br/>
        
        <div class="form-group">
            <label for="exampledateOfBirth">Date Of Birth</label>
            <input class="form-control" id="exampledateOfBirth" value ={{user.dateOfBirth}}>
        </div>
        <br/>

        <div class="form-group">
            <label for="exampleInputaboutYou">About You</label>
            <textarea class="form-control" id="exampleInputaboutYou" value ={{user.aboutYou}}></textarea>
        </div>

        <div>
            <app-upload-form></app-upload-form>
        </div>
        <br/>

            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-primary" (click)="cancelAll()">Cancel</button>    
    </form>
</div>
</mat-tab>

<mat-tab label="My posts"> 
    <main role="main">
        <app-show-post></app-show-post>
    </main>
</mat-tab>
</mat-tab-group>
<app-show-one-post></app-show-one-post>
<app-delete-modal></app-delete-modal>
<br/>
<app-footer></app-footer>